h1 {
    color:black;
}

p1{
    color:black;
    font-size:1.1em;
}

body {
    background-color: darkslategrey;
    color: black;
    font-size: 1.1em;
}
#explanation{
    font-size: 1.3em;
}

#intro {
    font-size: 1.3em;
}

.colorful {
    color: orange;
}